<header>
    <h2><a href="#"><i class="ion-plane"></i>BackPacker</a></h2>
    <nav>
        <ul>
            <li>
                <a href="#" title="home">Home</a>
            </li>
            <li>
                <a href="/about" title="about">About</a>
            </li>

            <li>
                <a href="#" title="flight">Flight</a>
            </li>
            <li>
                <a href="#" title="hotels">Hotel</a>
            </li>
            <li>
                <a href="#" title="">{{tag}}</a>
            </li>
            <li>
                <a class="btn" href="#" title="register" data-toggle="modal"
                    data-target="#login-modal">Register/Login</a>
            </li>
        </ul>
    </nav>
</header>