<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlink}}
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="container">
        {{!-- header Sections --}}

        {{>header}}

        {{!-- cover Sections --}}

        <div class="cover">
            <h1>Where you find your Destination</h1>
            <form class="flex-form">
                <label for="from">
                    <i class="ion-location"></i>
                </label>
                <input type="search" placeholder="Where you want to go ?">
                <input type="submit" value="search">
            </form>
        </div>
    </div>

</body>

</html>